.profile{
    margin-top: 3%;
    margin-left: 3%;
    width: 30%;
    float: left;
}

.secondRow {
    width: 30%;
    float: left;
    margin-top: 5%;
}

.carTable tr{
    margin-top: 15px;
}

.carTable td{
    margin-left: 20px;
}

.buttons{
    float: right;
    margin-right: 3%;
    margin-top: 3%;
}

ul {
    list-style-type: none;
}

li {
    float: right;
}

.prop{
    font-style: italic;
}

.errorText {
    color: red;
}

button{
    margin-left: 3mm;
}

.sC{
    margin-top: 3%;
    margin-left: 3%;
}