<p>
    Don't have an account?  <a [routerLink]="['/register']">Register</a> here
  </p>
<div class="errorText">
    <div *ngIf="showResult">The mail or password is incorrect!</div>
    <div *ngIf="showError">Error while trying to log in, please try again</div>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="loginDiv">
  <div>
      <label>Email</label><br/>
      <input type="text" formControlName="email"/>
      <div *ngIf="submitted && f.email.errors"  class="errorText">
          <div *ngIf="f.email.errors.required">Email is required</div>
      </div>
  </div>
  <div>
      <label>Password</label><br/>
      <input type="password" formControlName="password"  />
      <div *ngIf="submitted && f.password.errors" class="errorText">
          <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
  </div>
  <div>
      <button [disabled]="submitted">Login</button>
  </div>
</form>
