<div class="row curAddress">
    <div *ngIf="!showLocation">
        <h3>My Current Address:</h3>
        <div *ngIf="cAddress != null">
            {{cAddress.StreetName}} {{cAddress.Number}}, {{cAddress.Town}} {{cAddress.AreaCode}}   
        </div>
        <div *ngIf="cAddress == null">
            Driver location not defined
        </div>
        <button (click)="ChangeLocation()" class="takeButton">Change my location</button>
    </div>

    <div *ngIf="showLocation">
    <form [formGroup]="ChangeForm" (ngSubmit)="OnSubmitChange()">
        <h3>Change Address:</h3>
                
        <div>
            <label style="margin-right:20px; margin-left: 10px;">Street Name</label>
            <input type="text" formControlName="streetName"/>
            <div *ngIf="submitted && l.streetName.errors"  class="errorText">
                <div *ngIf="l.streetName.errors.required">Street Name is required</div>
            </div>
            
            <label style="margin-right:20px; margin-left: 10px;">Number</label>
            <input type="text" formControlName="number"/>
            <div *ngIf="submitted && l.number.errors"  class="errorText">
                <div *ngIf="l.number.errors.required">Number is required</div>
                <div class="errorText" *ngIf="ChangeForm.controls.number.errors?.invalidNumber">Number must be a number</div>
            </div>
                
            <label style="margin-right:20px; margin-left: 10px;">Town</label>
            <input type="text" formControlName="town"/>
            <div *ngIf="submitted && l.town.errors"  class="errorText">
                <div *ngIf="l.town.errors.required">Town is required</div>
            </div>
            

            <label style="margin-right:20px; margin-left: 10px;">Area Code</label>
            <input type="text" formControlName="areaCode"/>
            <div *ngIf="submitted && l.areaCode.errors"  class="errorText">
                <div *ngIf="l.areaCode.errors.required">Area Code is required</div>
                <div *ngIf="ChangeForm.controls.areaCode.errors?.invalidNumber">Area Code must be a number</div>
            </div>
                
            <button [disabled]="submitted" class="takeButton" style="margin-left:20px;">Change</button>
            <button (click)="Cancel()" class="takeButton" style="margin-left:20px;">Cancel</button>
            </div>
        </form>
</div>

</div>

<div class="row">
    <div>
        <ul class="buttons">
            <li> 
                <div *ngIf="showFree">
                    <button (click)="History()" class="takeButton">My History</button>
                </div>
                <div *ngIf="showHistory">
                    <button (click)="Created()" class="takeButton">Created Rides</button>
                </div>
            </li>
        </ul>
    </div>

<div *ngIf="hasError" class="errorText errorT">{{errorString}}</div>



<div *ngIf="showHistory">
<h3 class="title">My History</h3>

        <table class="ridesTable">
        <tr class="tRow">
            <th class="header"><h3>Status</h3></th>
            <th class="header"><h3>Date Time Booked</h3></th>
            <th class="header"><h3>Start Location</h3></th>
            <th class="header"><h3>Destination Location</h3></th>
            <th class="header"><h3>Car Type</h3></th>
            <th class="header"><h3>Customer</h3></th>
            <th class="header"><h3>Dispatcher</h3></th>
            <th class="header"><h3>Driver</h3></th>
            <th class="header"><h3>Comment(Rating)</h3></th>
            <th class="header"><h3>Price</h3></th>
            <!-- <th>Comment</th> -->
        </tr>
        <tr *ngFor="let ride of myRides" class="tRow">
            
            <td class="statuses">
                <div *ngIf="ride.Status == 0" style="color: rgb(0, 163, 141);">Created</div>
                <div *ngIf="ride.Status == 1" style="color: rgb(128, 0, 96);">Cancelled</div>
                <div *ngIf="ride.Status == 2" style="color: rgb(90, 44, 0);">Formed</div>
                <div *ngIf="ride.Status == 3" style="color: rgb(0, 2, 128);">Proccessed</div>
                <div *ngIf="ride.Status == 4" style="color: rgb(0, 0, 0);">Accepted</div>
                <div *ngIf="ride.Status == 5" style="color: rgb(139, 0, 0);">Failed</div>
                <div *ngIf="ride.Status == 6" style="color: green;">Successfull</div>
            </td>
            
            <td>{{ride.OrderDT | date:'yyyy-MM-dd HH:mm:ss'}}</td>

            <td>{{ride.StartLocation.Address.StreetName || ""}} {{ride.StartLocation.Address.Number || ""}} <br/>
                {{ride.StartLocation.Address.Town || ""}} {{ride.StartLocation.Address.AreaCode || ""}}</td>
            
            <td><div *ngIf="ride.DestinationLocation != null">{{ride.DestinationLocation.Address.StreetName || ""}} {{ride.DestinationLocation.Address.Number || ""}} <br/>
                {{ride.DestinationLocation.Address.Town || ""}} {{ride.DestinationLocation.Address.AreaCode || ""}}</div>
            <div *ngIf="ride.DestinationLocation == null">No Destination Location</div></td>
                
            <td>{{ride.CarType}}</td>

            <td><div *ngIf="ride.Customer != null">{{ride.Customer.Username || "No Customer"}}</div>
                <div *ngIf="ride.Customer == null">No Customer</div></td>

            <td><div *ngIf="ride.Dispatcher != null">{{ride.Dispatcher.Username || "No Dispatcher"}}</div>
                <div *ngIf="ride.Dispatcher == null">No Dispatcher</div></td>

            <td><div *ngIf="ride.TaxiDriver != null">{{ride.TaxiDriver.Username || "No Driver"}}</div>
                <div *ngIf="ride.TaxiDriver == null">No TaxiDriver</div></td>
            
            <div *ngIf="ride.UserComment.length == 0">
                <td>No Comment</td>
            </div>
            <div *ngIf="ride.UserComment.length != 0">
                <td *ngFor="let com of ride.UserComment">
                    <div *ngIf="com != null">
                        <div style="font-style: italic; font-weight:500; text-align:left;">{{com.Username}} {{com.DateCreated | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                        <div style="text-align:right; margin-top: 5px;">{{com.Content || "No Comment"}} ({{com.Rating}})</div>
                    </div>
                </td>
            </div>

            <td><div *ngIf="ride.Price != null">{{ride.Price || "No Price"}}</div>
                <div *ngIf="ride.Price == null">No Price</div></td>

            
            
           
            <!-- <td>{{ride.Price || "No Comment"}}</td> -->
        </tr>
        </table>
</div>

<div *ngIf="showFree" class="profile">

    <div class="leftColumn">    
        <h2>Active Ride</h2>
        
        <div *ngIf="!hasActive">
            <h3>No Active Ride</h3>
        </div>

        <div *ngIf="hasActive">
        <table class="activeTable">
        <tr>
            <td class="prop">Status:</td>
            <td class="statuses">
                <div *ngIf="activeRide.Status != null">
                <div *ngIf="activeRide.Status == 0" style="color: rgb(0, 163, 141);">Created</div>
                <div *ngIf="activeRide.Status == 1" style="color: rgb(128, 0, 96);">Cancelled</div>
                <div *ngIf="activeRide.Status == 2" style="color: rgb(90, 44, 0);">Formed</div>
                <div *ngIf="activeRide.Status == 3" style="color: rgb(0, 2, 128);">Proccessed</div>
                <div *ngIf="activeRide.Status == 4" style="color: rgb(0, 0, 0);">Accepted</div>
                <div *ngIf="activeRide.Status == 5" style="color: rgb(139, 0, 0);">Failed</div>
                <div *ngIf="activeRide.Status == 6" style="color: green;">Successfull</div>
                </div>
                <div *ngIf="activeRide.Status == null">No Status defined</div>
            </td>
        </tr>
        <tr>
            <td class="prop">Date Time of Booking:</td>
            <td>
                <div *ngIf="activeRide.OrderDT != null">{{activeRide.OrderDT | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                <div *ngIf="activeRide.OrderDT == null">No Date Time Booking defined</div>
            </td>
        </tr>
        <tr>
            <td class="prop">Start Location:</td>
            <td>
                <div *ngIf="activeRide.StartLocation != null">{{activeRide.StartLocation.Address.StreetName || ""}} {{activeRide.StartLocation.Address.Number || ""}} <br/>
                                                            {{activeRide.StartLocation.Address.Town || ""}} {{activeRide.StartLocation.Address.AreaCode || ""}}</div>
                <div *ngIf="activeRide.StartLocation == null">No Start Location defined</div>
            </td>
        </tr>
        <tr>
            <td class="prop">Destination Location:</td> 
            <td>
                <div *ngIf="activeRide.DestinationLocation != null">{{activeRide.DestinationLocation.Address.StreetName || ""}} {{activeRide.DestinationLocation.Address.Number || ""}} <br/>
                    {{activeRide.DestinationLocation.Address.Town || ""}} {{activeRide.DestinationLocation.Address.AreaCode || ""}}</div>
                <div *ngIf="activeRide.DestinationLocation == null">No Destination Location defined</div>
            </td>
        </tr>
        <tr>
            <td class="prop">Dispatcher:</td>
            <td>
                <div *ngIf="activeRide.Dispatcher != null">{{activeRide.Dispatcher.FullName}}</div>
                <div *ngIf="activeRide.Dispatcher == null">No Dispatcher defined</div>
            </td>
        </tr>
        <tr>
            <td class="prop">Driver:</td>
            <td>
                {{activeUser.FullName}}
            </td>
        </tr>
        <div class="!showNothing">
            <div *ngIf="!showFinish && showNothing">
                <tr>
                    <td><button (click)="Finish()" class="takeButton">Finish Ride</button></td>
                </tr>
            </div>
            <div *ngIf="showFinish && showNothing">
                <tr>
                    <h3>How did the ride finish?</h3>
                    <td><button (click)="SuccessfullFinish(activeRide)" class="takeButton">Successfull</button></td>
                    <td><button (click)="FailedFinish(activeRide)" class="takeButton">Failed</button></td>
                    <td><button (click)="CancelFinish()" class="takeButton">Cancel Finising</button></td>
                </tr>
            </div>
        </div>  

        <div *ngIf="showComment">
            <tr>
                <td>
                <form [formGroup]="CommentForm" (ngSubmit)="OnSubmitComment()" style="margin-left: 55px;">
                    <div class="row">
                        <h4 class="row">Opinion</h4>
                        <input type="text" formControlName="content" class="opinion" rows="5"/>
                        <div *ngIf="submitted && c.content.errors"  class="errorText" style="margin-top: 8px;">
                            <div *ngIf="c.content.errors.required">Please insert your opinion</div>
                        </div>
                    </div>
                    <button [disabled]="submitted" style="margin-top: 20px;" class="takeButton">Submit</button>
                    <button (click)="CancelFinish()" class="takeButton">Cancel Finising</button>
                </form>
                </td>
            </tr>
        </div>

        <div *ngIf="showSuccessfull">
            <tr>
                <td>
                    <form [formGroup]="FinishForm" (ngSubmit)="OnSubmit()">
                        <h3>Destination Address:</h3>
                        
                        <div class="row">
                            <label>Street Name</label>
                            <input type="text" formControlName="dStreetName"/>
                            <div *ngIf="submitted && f.dStreetName.errors"  class="errorText">
                            <div *ngIf="f.dStreetName.errors.required">Street Name is required</div>
                            </div>
                            <br/>
                            <label>Number</label>
                            <input type="text" formControlName="dNumber"/>
                            <div *ngIf="submitted && f.dNumber.errors"  class="errorText">
                            <div *ngIf="f.dNumber.errors.required">Number is required</div>
                            <div class="errorText" *ngIf="FinishForm.controls.dNumber.errors?.invalidNumber">Number must be a number</div>
                            </div>
                        </div>
                        <div class="row">
                        <label>Town</label>
                            <input type="text" formControlName="dTown"/>
                            <div *ngIf="submitted && f.dTown.errors"  class="errorText">
                            <div *ngIf="f.dTown.errors.required">Town is required</div>
                            </div>
                        </div>
                    
                        <div class="row">
                        <label>Area Code</label>
                            <input type="text" formControlName="dAreaCode"/>
                            <div *ngIf="submitted && f.dAreaCode.errors"  class="errorText">
                            <div *ngIf="f.dAreaCode.errors.required">Area Code is required</div>
                            <div *ngIf="FinishForm.controls.dAreaCode.errors?.invalidNumber">Area Code must be a number</div>
                            </div>
                        </div>

                        <div class="row">
                            <label>Price</label>
                            <input type="text" formControlName="price"/>
                            <div *ngIf="submitted && f.price.errors"  class="errorText">
                            <div *ngIf="f.price.errors.required">Area Code is required</div>
                            <div *ngIf="FinishForm.controls.price.errors?.invalidNumber">Area Code must be a number</div>
                            </div>
                        </div>

                        <div class="row">
                            <button [disabled]="submitted" style="margin-top: 20px;" class="takeButton">Submit</button>
                            <button (click)="CancelFinish()" class="takeButton">Cancel Finising</button>
                        </div>
                    </form>                    
                </td>
            </tr>
        </div>
    
        </table>
    </div>
    
    
    </div>

    <table class="freeTable rightColumn">
    <h3>Created Rides</h3>
    <tr class="tRow">
        <th class="header"><h3>Status</h3></th>
        <th class="header"><h3>Date Time Booked</h3></th>
        <th class="header"><h3>Start Location</h3></th>
        <th class="header"><h3>Car Type</h3></th>
        <th class="header"><h3>Action</h3></th>
    </tr>
    <tr *ngFor="let ride of freeRides" class="tRow">
        <td class="statuses">
            <div *ngIf="ride.Status == 0" style="color: rgb(0, 163, 141);">Created</div>
            <!-- <div *ngIf="ride.Status == 1" style="color: rgb(128, 0, 96);">Cancelled</div>
            <div *ngIf="ride.Status == 2" style="color: rgb(90, 44, 0);">Formed</div>
            <div *ngIf="ride.Status == 3" style="color: rgb(0, 2, 128);">Proccessed</div>
            <div *ngIf="ride.Status == 4" style="color: rgb(0, 0, 0);">Accepted</div>
            <div *ngIf="ride.Status == 5" style="color: rgb(139, 0, 0);">Failed</div>
            <div *ngIf="ride.Status == 6" style="color: green;">Successfull</div> -->
        </td>
                
        <td>{{ride.OrderDT | date:'yyyy-MM-dd HH:mm:ss'}}</td>
    
        <td>{{ride.StartLocation.Address.StreetName || ""}} {{ride.StartLocation.Address.Number || ""}} <br/>
            {{ride.StartLocation.Address.Town || ""}} {{ride.StartLocation.Address.AreaCode || ""}}</td>
                
        <td>{{ride.CarType}}</td>
        <td><button (click)="Take(ride)" class="takeButton">Take Ride</button></td>
    </tr>
    </table>
</div>


</div>