.row{
    margin-top: 5%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.statuses{
    font-weight: bold;
    
}

.header{
    text-align: center;
    font-weight: bolder;
    background-color: rgba(223, 189, 0, 0.726);
    border-radius: 10px;
}

.tRow{
    text-align: left;
    border-radius: 10px;
    background-color: white;
    border-color: gold;
}

.ridesTable{
    width: 98%;
}
