<p>
  Already have an account?  <a [routerLink]="['/login']">Login</a> here
</p>
<div class="errorText">
    <div *ngIf="resultError" class="errorText">Error while trying to register, please try again</div>
    <div *ngIf="showError" class="errorText">Username is not avaible</div>
    <div *ngIf="mailError" class="errorText">This mail already has an account</div>
</div>
<div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="registerDiv">
    <div>
        <label>Full Name</label><br/>
        <input type="text" formControlName="fullName" />
        <div *ngIf="submitted && f.fullName.errors" class="errorText">
            <div *ngIf="f.fullName.errors.required" >First Name is required</div>
        </div>
    </div>
    <div>
        <label>Gender</label><br/>
        <select id="gender" formControlName="gender">
            <option *ngFor="let g of genders" [ngValue]="g">{{ g }}</option>
        </select>
         <!-- <div *ngIf="submitted && f.gender.errors" >
            <div *ngIf="f.gender.errors.required">Gender is required</div>
        </div>  -->
    </div>
    <div>
        <label>JMBG</label><br/>
        <input type="text" formControlName="jmbg"  />
        <div *ngIf="submitted && f.jmbg.errors" class="errorText">
            <div *ngIf="f.jmbg.errors.required">JMBG is required</div>
        </div>
    </div>
    <div>
        <label>Contact Number</label><br/>
        <input type="text" formControlName="contactNumber" />
        <div *ngIf="submitted && f.contactNumber.errors" class="errorText">
            <div *ngIf="f.contactNumber.errors.required">Contact Number is required</div>
        </div>
    </div>
    <div>
        <label>Email</label><br/>
        <input type="text" formControlName="email" />
        <div *ngIf="submitted && f.email.errors" class="errorText">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email format is incorrect</div>
        </div>
    </div>
    <div>
        <label>User Name</label><br/>
        <input type="text" formControlName="username" />
        <div *ngIf="submitted && f.username.errors" class="errorText">
            <div *ngIf="f.username.errors.required">User Name is required</div>
            
        </div>
    </div>
    <div>
        <label>Password</label><br/>
        <input type="password" formControlName="password" />
        <div *ngIf="submitted && f.password.errors" class="errorText">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="registerForm.controls['password'].hasError('hasNumber')">Must have at least one number</div>
            <div *ngIf="registerForm.controls['password'].hasError('hasCapitalCase')">Must have at least one upper case letter</div>
            <div *ngIf="registerForm.controls['password'].hasError('hasSmallCase')">Must have at least one lower case letter</div>
            <div *ngIf="registerForm.controls['password'].hasError('hasSpecialCharacters')">Must have at least one special character</div>
            <div *ngIf="registerForm.controls['password'].hasError('minlength')">Must be at least 6 character long</div>
        </div>
    </div>
    <div>
        <label>Confirm Password</label><br/>
        <input type="password" formControlName="confirmPassword" />
        <div *ngIf="submitted && f.confirmPassword.errors" class="errorText">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
        </div>
    </div>
    <div class="errorText" *ngIf="registerForm.controls.confirmPassword.errors?.MatchPassword">Password not match</div>
   
    <div>
        <button [disabled]="submitted">Register</button>
    </div>
  </form>
  </div>