.row{
    margin-top: 5%;
}
.leftColumn{
    float:left;
    width: 67%;
    margin-left: 2%;
}

.rightColumn{
    float: left;
    width: 33%;
}

/* .row {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
  
.column {
    flex: 50%;
}
 */

/* .column {
    float: left;
    width: 50%;
  } */
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
}

.statuses{
    font-weight: bold;
    
}

.header{
    text-align: center;
    font-weight: bolder;
    background-color: rgba(223, 189, 0, 0.726);
    border-radius: 10px;
}

.tRow{
    text-align: left;
    border-radius: 10px;
    background-color: white;
    border-color: gold;
}

.ridesTable{
    width: 98%;
}

button{
    background-color: black;
    border: none;
    color: white;
    padding: 18px 18px 18px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    border-radius: 50%;
  }



.prop{
    font-style: italic;
}
  
.activeTable td{
    padding:5px 35px 5px 35px;
}
