.row{
    margin-top: 5%;
}

.leftColumn{
    float: left;
    width: 30%;
    margin-left: 2%;
}

.rightColumn{
    float: left;
    width: 67%;
}

/* .row {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
  
.column {
    flex: 50%;
}
 */

/* .column {
    float: left;
    width: 50%;
  } */
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
}

.statuses{
    font-weight: bold;
    
}

.header{
    text-align: center;
    font-weight: bolder;
    background-color: rgba(223, 189, 0, 0.726);
    border-radius: 10px;
}

.tRow{
    text-align: left;
    border-radius: 10px;
    background-color: white;
    border-color: gold;
}

.ridesTable{
    width: 98%;
}

button{
    background-color: black;
    border: none;
    color: white;
    padding: 18px 18px 18px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    border-radius: 50%;
  }

button:hover{
 color: goldenrod;
}

button:active{
    color: black;
    background-color: gold;
}

button:disabled{
    background-color:rgb(71, 71, 71);
    color: white;
}

.prop{
    font-style: italic;
}

.activeTable{
    background-color: #fdcc61d7;
    border-radius: 25px;
    width: 380px;
    height: 510px;
    margin-left: 11%;
}
  
.activeTable td{
    padding:5px 35px 5px 35px;
}

.activeButtons{
    margin-left: 30%;
}

.editF{
    background-color: #fdcc61d7;
    border-radius: 25px;
    width: 380px;
    height: 420px;
    margin-left: 11%;
}

.rowE label{
    margin-left: 25px;
    margin-top: 10px;
}

.rowE input{
    margin-left: 30px;
    margin-top: 10px;
}

.rowE select{
    margin-left: 30px;
    margin-top: 10px;
}

.rowE h3{
    margin-left: 25px;
    margin-top: 10px;
}

.buttons{
    margin-top: 30px;
    margin-left:40%;
}

.commentF{
    background-color: #fdcc61d7;
    border-radius: 25px;
    width: 500px;
    height: 395px;
    margin-left: 4%;
}

.commentF h2{
    margin-top: 7px;
}

.opinion{
    width: 70%;
}

.rowC{
    margin-top: 30px;
    margin-left: 10px;
}

.rating {
    float:left;
    background: white;
    margin-top: 15px;
    margin-left: 10px;
}

.cButtons{
    margin-top: 40px;
    margin-left:40%;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}


.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}

.errorText {
    color: red;
}